data:
  Brain: [/home/ec2-user/data/Melanoma_ATAC/ATAC_Bamfiles/BrainCells_Bam/*]                                   #list of .bam-files
  Peripheral: [/home/ec2-user/data/Melanoma_ATAC/ATAC_Bamfiles/PeripheralCells_Bam/*]  #list of .bam-files
  
run_info:
  organism: human                      #mouse/human
  fasta: /home/ec2-user/Cobra/ref_files/hg38/genome.fasta        #.fasta-file containing organism genome
  blacklist: /home/ec2-user/Genomes/BlaclistBeds/hg38-blacklist.v2.bed   #.bed-file containing blacklisted regions
  gtf: /home/ec2-user/Genomes/GRCh38_gtf/Homo_sapiens.GRCh38.105.chr.gtf          #.gtf-file for annotation of peaks
  motifs: /home/ec2-user/Genomes/Motifs/*       #directory containing motifs (single files in MEME/JASPAR/PFM format)
  output: /home/ec2-user/data/Melanoma_ATAC/FootprintingAnalysis/CellLines_Footprinting                 #output directory 